body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: left;
}
a {
  text-decoration: none;
  color: #0eea99;
}
table td { 
  border: 3px solid #f13483;
 }
 
 table { 
  margin-left:auto; 
  margin-right:auto;
  border-collapse: collapse;
  width: 30%;
}
.vir { vertical-align: middle;}